<div id="games" class="row">
  <div class="game-list">
    <!-- Example row of columns -->
      <div class="col-sm-6 col-md-4" ng-repeat="game in games">
        <div class="game">
          <div class="thumbnail">
            <div class="img-container">
              <a href="/game/{{game._id.$oid}}">
                <img class="img-thumbnail" src="api/img/{{game.image}}" alt="...">
              </a>
            </div>
            <div class="caption">
              <h3 class="title">{{game.title | limitTo:35}}</h3>
              <p class="description">{{game.description | limitTo:300}}</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default" role="button">Download</a>
                  <a href="/game/{{game._id.$oid}}" class="btn btn-primary" role="button">View Details &raquo;</a>
                </div>
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
