<div id="home" class="row">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Print, Play, Be Happy!</h1>
      <p class="lead">Download great print and play games in a single click for FREE!</p>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search" id="search">
        <div class="input-group-btn">
          <a class="btn btn-sm btn-success" href="#" role="button">Find it!</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h1>Featured Games</h1>
      </div>
    </div>

    <div class="game-list">
      <div class="col-sm-6 col-md-4" ng-repeat="game in games">
        <div class="game">
          <div class="thumbnail">
            <div class="img-container">
              <a href="/game/{{game._id.$oid}}">
                <img class="img-thumbnail" src="api/img/{{game.image}}" alt="...">
              </a>
            </div>
            <div class="caption">
              <h3 class="title">{{game.title | limitTo:35}}</h3>
              <p class="description">{{game.description | limitTo:300}}</p>
              <p>
                <div class="btn-group">
                  <a href="#" class="btn btn-default" role="button">Download</a>
                  <a href="/game/{{game._id.$oid}}" class="btn btn-primary" role="button">View Details &raquo;</a>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
